body {
    margin: 0;
}

svg {
  pointer-events: all;
}

#map {
  width: 100%;
  height: 600px;
  margin-bottom: 10px;
}

@media (min-width: 1200px) {
    #map {
        margin-left: -230px;
        width: 1200px;
    }
}

.chartTitle {
    font-size: 26px;
    font-style: italic;
    margin-bottom: 0;
    text-align: center;
}

.fountain {
    cursor: pointer;
}

.hidden {
	display: none;
}

.leaflet-popup {
    font-family: "Trueno Regular", helvetica, arial, sans-serif;
    z-index: 25000;
}

.leaflet-popup .infoTitle {
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 8px;
    width: 250px;
}

.leaflet-popup .info {
    font-size: 11px;
    margin: 0;
}

.leaflet-popup .infoLabel {
    font-weight: bold;
}

.leaflet-popup img {
    margin-top: 10px;
    width: 100%;
}

.legend {
    background: #fff;
    border: 1px solid #000;
    font-family: "Trueno Regular", helvetica, arial, sans-serif;
    width: 210px;
    padding: 10px;
}

.legend .legTitle {
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.legend .legItem {
    font-size: 11px;
    margin-bottom: 10px;
}

.legend img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}