#onepChart text {
  font-size: 10px;
}

#onepChart .axis path,
#onepChart .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#onepChart .axis path,
#onepChart .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#onepChart .axis--y path {
  display: none;
}

#onepChart .data {
  fill: none;
  stroke: rgba(100, 100, 100, 0.4);
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 1.5px;
}

#onepChart .budget--hover {
  stroke: #000 !important;
}

#onepChart .focus text {
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

#onepChart .voronoi path {
  fill: none;
  pointer-events: all;
}

.onepTitle {
	font-family: "Trueno Regular";
	font-size: 1.5em;
	margin-bottom: 0;
	text-align: center;
}

.onepSubTitle {
	font-style: italic;
	text-align: center;
}

/* Tooltip */
.hidden {
	display: none;
}

#onepTip {
	font-family: "Trueno Regular";
	min-height: 50px;
	margin-bottom: 15px;
	text-align: center;
	text-transform: capitalize;
}

#onepTip .tipTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px !important;
}

#onepTip .tipInfo {
  font-size: 12px;
  margin: 0;
}