#legend {
	display: inline-block;
	font-family: "Trueno Regular";
	margin-bottom: 20px;
}

.chartTitle {
    font-size: 26px;
    font-style: italic;
    margin-bottom: 0;
    text-align: center;
}

.chartSubTitle {
	margin-bottom: 20px;
	text-align: center;
}

.womenLegend {
	color: #FF1D19;
	padding: 0 40px;
}

.menLegend {
	color: #0095FF;
}

.slope {
	cursor: pointer;
	stroke-width: 1px;
	transition: all 0.5s ease;
}

.slope:hover {
	stroke-width: 2px;
}

.slopeLabel text {
	alignment-baseline: middle;
	font-size: 10px !important;
}

.line-male {
	fill: none;
	stroke: #0095FF;
}

.line-female {
	fill: none;
	stroke: #FF1D19;
}

.label-male {
	fill: #0095FF;
}

.label-female {
	fill: #FF1D19;
}

.faded {
	opacity: 0.5;
}