#incomes text {
	font-family: Lora, Georgia, serif;
}

.slope path {
	stroke-width: 1px;
}

.slopeLabel text {
	alignment-baseline: middle;
	font-size: 10px !important;
}

.label-male {
	fill: #0095FF;
}

.label-female {
	fill: #FF1D19;
}