#costingChart {
  font-size: 10px;
}

#selectCosting {
  font-family: Lora, Georgia, serif;
  font-size: 20px;
  padding: 5px 15px;
	width: 200px;
}

#costingChart .sel {
	fill: #000000 !important;
}

#costingTip {
	display: block;
    font-family: trueno, sans-serif;
	min-height: 50px;
	margin-bottom: 15px;
    pointer-events: none;
	text-align: center;
}

#costingTip #tipTop {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px !important;
}

#costingTip .tipInfo {
  font-size: 12px;
  margin: 0;
}