@media (min-width: 800px) {
    .svg-container {
        margin-left: calc(-100vw / 2 + 800px / 2);
        margin-right: calc(-100vw / 2 + 800px / 2);
    }
}

#selectUnhcr {
  font-family: Lora, Georgia, serif;
  font-size: 20px;
  padding: 5px 15px;
	width: 200px;
}

#unchrChart {
  background: #fcfcfa;
}

#unchrChart .stroke {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
}

#unchrChart .fill {
  fill: #fff;
}

#unchrChart .land {
  fill: #ddd;
}

.country {
  transition: all 0.5s ease;
}

.selectable {
  cursor: pointer;
}

#unchrChart .sel {
  fill: #000 !important;
}

#unchrChart .boundary {
  fill: none;
  stroke: #CCC;
	stroke-width: 0.5px;
}

#sparkGroup {
	clear: both;
	height: 40px;
	margin-bottom: 25px;
}

#unhcrSparkline {
	border: 1px solid #CCC;
	display: inline-block;
	height: 25px;
	width: 102px;
}

#unhcrSparkline .line {
  fill: none;
  stroke: red;
  stroke-width: 1.5px;
}

#sparkGroup {
  background: #fff;
  border: 1px solid #000;
  height: 80px;
  margin: 15px auto;
  padding: 10px;
  position: absolute;
}

#sparkValue {
	display: inline-block;
  font-family: trueno, sans-serif;
	padding: 5px;
}

#mapCountry {
	font-size: 18px;
  font-weight: bold;
	margin-right: 10px;
}

.hidden {
	display: none;
}