#bcgasChart text {
  font-size: 10px;
}

#bcgasChart .axis path,
#bcgasChart .axis line{
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#bcgasChart .axis--y path {
  display: none;
}

#bcgasChart .data {
  fill: none;
  stroke: rgba(100, 100, 100, 0.4);
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 1.5px;
}

#bcgasChart .budget--hover {
  stroke: #000 !important;
}

#bcgasChart .focus text {
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

#bcgasChart .voronoi path {
  fill: none;
  pointer-events: all;
}

#bcgasChart .voronoi--show path {
  stroke: red;
  stroke-opacity: .2;
}

.bcgasTitle {
	font-size: 1.5em;
	margin-bottom: 0;
	text-align: center;
}

.subBcgasTitle {
	text-align: center;
}

/* Tooltip */

#bcgasTip {
	display: block;
	margin-bottom: 15px;
  	pointer-events: none;
	text-align: center;
}

#bcgasTip .tipTitle {
	font-size: 14px;
	font-weight: bold;
  	margin-bottom: 8px !important;
}

#bcgasTip .tipInfo {
  font-size: 12px;
  margin: 0;
}

.hidden {
	display: none;
}