#bcincChart text {
  font-size: 10px;
}

#bcincChart .bars {
	cursor: pointer;
	transition: all 0.2s ease;
}

#bcincChart .selected {
	fill: #ff2600 !important;
}

#bcincChart .y path {
	display: none;
}

#bcincChart .axis path,
#bcincChart .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bcincTitle {
	font-family: "Trueno Regular";
	font-size: 1.5em;
	margin-bottom: 0;
	text-align: center;
}

/* Tooltip */
.hidden {
	display: none;
}

#bcincTip {
	font-family: "Trueno Regular";
	min-height: 50px;
	margin-bottom: 15px;
	text-align: center;
	text-transform: capitalize;
}

#bcincTip .tipTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px !important;
}

#bcincTip .tipInfo {
  font-size: 12px;
  margin: 0;
}