#downChart text {
  font-size: 10px;
}

#downChart .axis path,
#downChart .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#downChart .bar {
  fill: steelblue;
}

#downChart .x.axis path {
  display: none;
}

.downTitle {
	font-family: Trueno;
	font-size: 1.5em;
	margin-bottom: 0;
	text-align: center;
}