#petroChart text {
  font-size: 10px;
}

#petroChart .axis path,
#petroChart .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#petroChart .shrinkTitle {
	font-size: 1.5em;
	margin-bottom: 0;
  text-align: center;
}

#petroChart .shrinkSubTitle {
	font-style: italic;
	text-align: center;
}

#petroChart .x.axis path {
  display: none;
}

#petroChart .line {
  fill: none;
  stroke-linecap: "round";
  stroke-width: 1.5px;
}

#petroChart path:hover {
	fill: black;
}

.petroTitle {
	font-size: 1.5em;
	margin-bottom: 0;
  	text-align: center;
}

/* Tooltip */
.hidden {
  display: none;
}

#petroTip {
	display: block;
	min-height: 50px;
	margin-bottom: 15px;
	text-align: center;
	text-transform: capitalize;
}

#petroTip #tipTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px !important;
}

#petroTip .tipInfo {
  font-size: 12px;
  margin: 0;
}