#petroChart text {
  font-size: 10px;
}
#petroChart .axis path,
#petroChart .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#petroChart .axis--y path {
  display: none;
}

#petroChart .data {
  fill: none;
  stroke: rgba(100, 100, 100, 0.4);
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 1.5px;
}

#petroChart .budget--hover {
  stroke: #000 !important;
}

#petroChart .syria {
  stroke: #d6191f;
}

#petroChart .focus text {
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

#petroChart .voronoi path {
  fill: none;
  pointer-events: all;
}

#petroChart .voronoi--show path {
  stroke: red;
  stroke-opacity: .2;
}

.petroTitle {
	font-size: 1.5em;
	margin-bottom: 0;
	text-align: center;
}

/* Tooltip */

#petroTip {
	display: block;
	margin-bottom: 15px;
  	pointer-events: none;
	text-align: center;
}

#petroTip .tipTitle {
	font-size: 14px;
	font-weight: bold;
  	margin-bottom: 8px !important;
}

#petroTip .tipInfo {
  font-size: 12px;
  margin: 0;
}

.hidden {
	display: none;
}